.headerContainer {
  height: 50px;
  background-color: #828282;
}

.headerBtn {
  top: 10px;
  position: relative;
  height: 30px;
  margin-right: 2em;
}

a {
  text-decoration: none;
  color: #000;
}
