<h1>Welcome to my music</h1>
<button *ngIf="!user" (click)="login()">Login</button>
<p *ngIf="!!user">You are logged in as: {{user.id}}</p>
<button *ngIf="!!user" (click)="getPlaylists()">Show Playlists</button>
<div class="tableContainer">
  <table class="mainTable" *ngIf="!!playlists">
    <thead>
    <tr>
      <th>Playlist Name</th>
      <th>Playlist Owner</th>
    </tr>
    <tr>
      <td>
        <input class="playlistNameInput" type="text" [(ngModel)]="filterPlaylistName">
      </td>
      <td>
        <input class="playlistOwnerInput" type="text" [(ngModel)]="filterPlaylistOwner">
      </td>
    </tr>
    </thead>
    <tbody *ngFor="let playlist of (playlists.items | playListNameFilter:filterPlaylistName | playListOwnerFilter:filterPlaylistOwner)">
    <tr >
      <td>
        <span (click)="getTrackList(playlist.id, playlist.owner.id)" class="expandPlaylist fa fa-plus-circle"></span>
        {{playlist.name}}
      </td>
      <td>{{playlist.owner.id}}</td>
    </tr>
    <tr *ngIf="playlist.id === playlistId && showTrackList">
      <td class="trackData">
        <table class="trackTable">
          <thead>
          <tr>
            <th>Track Name</th>
            <th>Track Player</th>
          </tr>
          <tr>
            <td>
              <input class="trackNameInput" type="text" [(ngModel)]="filterTrackName">
            </td>
            <td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let track of trackList.items | trackNameFilter:filterTrackName">

            <td>{{track.track.name}}</td>
            <td>
              <button (click)="playTrack(track.track.id)">Play Song</button>
            </td>

          </tr>
          <div *ngIf="showTrackPlayer" class="spotifyPlayer">
            <span (click)="closePlayer()" class="playerCloseButton fa fa-times"></span>
            <iframe [src]="trackUrl" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
          </div>
          </tbody>
        </table>
      </td>

    </tr>
    </tbody>
  </table>
</div>
