<div class="headerContainer">
  <button type="button" class="headerBtn btn btn-primary">
    <a [routerLink]="['']">Home</a>
  </button>
  <button type="button" class="btn headerBtn btn-primary">
    <a [routerLink]="['music/']">Music</a>
  </button>
  <button type="button" class="btn headerBtn btn-primary">
    <a [routerLink]="['steam/']">Steam</a>
  </button>
  <button type="button" class="btn headerBtn btn-primary" (click)="test()">
    <a [routerLink]="['form/']">Form</a>
  </button>

</div>
