<button (click)="getFriendsList()">click</button>
<table *ngIf="friends">
  <thead>
    <tr>
      <th>Friend Since</th>
      <th>Relationship</th>
      <th>Steam ID</th>
    </tr>
  </thead>
  <tbody *ngFor="let friend of friends">
    <tr>
      <td>
        <span [ngClass]="displayIcon" (click)="getUser(friend.steamid)" class="expandPlaylist">+</span>
        {{friend.friend_since * 1000 | date:'MM-dd-yyyy'}}
      </td>
      <td>{{friend.relationship}}</td>
      <td>{{friend.steamid}}</td>
    </tr>
    <tr *ngIf="friend.steamid === userId && showUser">
      <td>
        <table class="userTable">
          <thead>
            <tr>
              <th>avatar</th>
              <th>Name</th>
              <th>Last signed in</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of users">
            <tr>
              <td>
                <img [src]="user.avatarfull">
              </td>
              <td>{{user.personaname}}</td>
              <td>{{user.lastlogoff * 1000 | date:'MM-dd-yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
